<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <link data-require="bootstrap@3.0.0" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <script data-require="jquery@1.8.1" data-semver="1.8.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.1/jquery.js"></script>
  <script data-require="angular.js@1.4.9" data-semver="1.4.9" src="https://code.angularjs.org/1.4.12/angular.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body ng-controller="myCtrl">
  <div class="container" style="margin-top:1em;">
    <form name="form" novalidate ng-submit="validate(user)">
      <div class="form-group">
        <div class="row">
          <label class="col-xs-2 col-sm-2">Email:</label>
          <div class="col-xs-6 col-sm-6">
            <input type="email" class="form-control" ng-model="user.email" my-cust-val name="uEmail" ng-change="changeMsg()" required/>
          </div>
          <div class="col-xs-4 col-sm-4" ng-show="form.$submitted || form.uEmail.$touched">
            <small class="text-danger" ng-show="form.uEmail.$error.required">Enter an Email</small>
            <small class="text-danger" ng-show="form.uEmail.$error.myCustVal">Email is not valid</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-xs-2 col-sm-2">Tel:</label>
          <div class="col-xs-6 col-sm-6">
            <input type="tel" class="form-control" ng-model="user.tel" placeholder="Eg:9002346578" name="uTele" ng-change="changeMsg()" required/>
          </div>
          <div class="col-xs-4 col-sm-4" ng-show="form.$submitted || form.uTele.$touched">
            <small class="text-danger" ng-show="form.uTele.$error.required">Enter Telephone No.</small>
            <small class="text-danger" ng-show="!isTelValid && !isTelString">Invalid Tel : <i>Must have 10 digits. 1st and 4th digit cannot be 0 or 1</i></small>
            <small class="text-danger" ng-show="isTelString">Tel must be numeric</small>
          </div>
          <small class="text-info" ng-show="(form.uTele.$pristine || !isTelValid) && !form.uTele.$touched"><i>Tel must be 10 digits</i></small>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="col-xs-2 col-sm-2">Date:</label>
          <div class="col-xs-6 col-sm-6">
            <input type="text" class="form-control" ng-model="user.date" placeholder="mm/dd/yyyy" name="uDate" ng-change="changeMsg()" required>
          </div>
          <div class="col-xs-4 col-sm-4" ng-show="form.$submitted || form.uDate.$touched">
            <small class="text-danger" ng-show="form.uDate.$error.required">Enter a Date</small>
            <small class="text-danger" ng-show="!isValidDate">Date is not valid : <i>Format - mm/dd/yyyy</i></small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-4 col-sm-4">
            <button class="btn btn-primary form-control" ng-disabled="!user.email || !user.date || !user.tel">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <div class="text-success" ng-if="success">
      <h4>
        Form validation is successful !!!
      </h4>
    </div>
  </div>
</body>

</html>